.l-footer {
  background-color: #9D8670;
  width: 100%;
  height: 150px;
}
.l-footer__inner {
  max-width: 250px;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 31px;
  width: 100%;
  height: 80px;
}
.l-footer__inner--nav {
  width: 100%;
  /*&--list li(:first-child)::before {
      isplay: inline-block;
      border-left: 1px solid #ffffff;
  }*/
  /*&--list li:not(:first-child)::before {
      position: relative;
      border-left: 1px solid #ffffff;
      height: 16px;
      content: "|";
  }*/
  /*&--nav--list li+li::before {
      content: "";
      display: block;
      height: 16px;
      border-left: 1px solid #ffffff;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
  }*/
}
.l-footer__inner--nav--list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 34px;
  /*li:not(:first-child)::before {
      position: relative;
      border-left: 1px solid #ffffff;
      height: 16px;
      content: "|";
  }*/
}
.l-footer__inner--nav--list a {
  color: #ffffff;
  text-decoration: none;
}
.l-footer__inner--nav--list li {
  position: relative;
}
.l-footer__inner--nav--list li + li::before {
  content: "";
  display: block;
  height: 16px;
  border-left: 1px solid #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  margin: auto;
}
.l-footer__inner--copyright {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 31px;
}

.l-sidebar {
  width: 357px;
  position: absolute;
  top: 0;
  left: 18px;
  background-color: #f2ede9;
  box-shadow: -25px 0px 0px 0px rgba(0, 0, 0, 0.5);
  /*&__inner::after {
      background-color: #000;
      width: 375px;
  }*/
}
@media screen and (min-width: 376px) {
  .l-sidebar {
    width: 367px;
  }
}
@media screen and (min-width: 835px) {
  .l-sidebar {
    display: none;
  }
}
@media screen and (min-width: 835px) {
  .l-sidebar__inner .l-sidebar__inner--menu {
    margin-top: 212px;
  }
}

.l-main {
  background-color: #fffdfa;
  width: 100%;
}
.l-main-header {
  width: 100%;
  height: 217px;
  background-color: #fff7ef;
}
.l-main-header__btn {
  font-size: 20px;
  color: #707070;
  font-weight: bold;
  padding-top: 14px;
  margin-right: 16px;
  text-align: right;
}
.l-main-header__contents {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 835px) {
  .l-main-header__contents {
    display: flex;
  }
}
.l-main-header__contents--title {
  font-size: 40px;
  color: #707070;
  font-weight: bold;
  margin-bottom: 38px;
}
@media screen and (min-width: 835px) {
  .l-main-header__contents--title {
    font-size: 64px;
    color: #707070;
    font-weight: bold;
  }
}
.l-main-header__contents--search {
  max-width: 320px;
  height: 46px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 376px) {
  .l-main-header__contents--search {
    max-width: 546px;
  }
}
.l-main-header__contents--search form {
  display: flex;
}
.l-main-header__contents--search-box {
  background-color: #ffffff;
  width: 230px;
  border: solid #707070;
  border-radius: 10px;
  height: 46px;
  margin-right: 13px;
}
@media screen and (min-width: 376px) {
  .l-main-header__contents--search-box {
    margin-right: 15px;
    width: 396px;
  }
}
.l-main-header__contents--search-btn {
  width: 78px;
  background: linear-gradient(#f2ede9, #ded8d3);
  border: solid #707070;
  border-radius: 10px;
  height: 46px;
}
@media screen and (min-width: 376px) {
  .l-main-header__contents--search-btn {
    width: 136px;
  }
}

.l-container {
  position: relative;
}

.p-menu__btn {
  margin-left: 93px;
  margin-bottom: 297px;
  padding-top: 82px;
  width: 60px;
  height: 60px;
  position: relative;
}
@media screen and (min-width: 835px) {
  .p-menu__btn {
    display: none;
    padding-top: 82px;
  }
}
.p-menu__btn ::before,
.p-menu__btn ::after {
  content: "";
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
}
.p-menu__btn span {
  font-size: 34px;
  color: #707070;
  font-weight: bold;
}
.p-menu__nav {
  /*&--title {
      @include fontset.sidebarNavtitle;
      position: absolute;
      top: 0;
      left: 0;
  }

  &--list {
      //list-style: none;
      @include fontset.sidebarNavmenu;
      position: absolute;
      top: 70px;
      left: 20px;

      ul {
          list-style: none;
      }
  }*/
}
.p-menu__nav--title {
  list-style: none;
}
.p-menu__nav--title--burger {
  position: relative;
  margin-left: 139px;
  margin-bottom: 477px;
  font-size: 24px;
  color: #707070;
  font-weight: bold;
}
.p-menu__nav--title--side {
  position: relative;
  margin-left: 139px;
  margin-bottom: 326px;
  font-size: 24px;
  color: #707070;
  font-weight: bold;
}
.p-menu__nav--title--drink {
  position: relative;
  margin-left: 139px;
  margin-bottom: 474px;
  font-size: 24px;
  color: #707070;
  font-weight: bold;
}
.p-menu__nav--list {
  position: absolute;
  top: 70px;
  left: 20px;
}
.p-menu__nav--list li {
  list-style: none;
  font-size: 20px;
  color: #707070;
  font-weight: normal;
}
.p-menu__side {
  position: relative;
  margin-left: 139px;
  margin-bottom: 326px;
}
.p-menu__side--title {
  font-size: 24px;
  color: #707070;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.p-menu__side--list {
  list-style: none;
  font-size: 20px;
  color: #707070;
  font-weight: normal;
  position: absolute;
  top: 70px;
  left: 20px;
}
.p-menu__side--list ul {
  list-style: none;
}
.p-menu__drink {
  position: relative;
  margin-left: 139px;
  margin-bottom: 474px;
}
.p-menu__drink--title {
  font-size: 24px;
  color: #707070;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.p-menu__drink--list {
  list-style: none;
  font-size: 20px;
  color: #707070;
  font-weight: normal;
  position: absolute;
  top: 70px;
  left: 20px;
}
.p-menu__drink--list ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */