@use "../foundation/mixin/_fontset" as fontset;
@use "../foundation/mixin/_breakpoint" as bp;

.l-footer {
    //フッター部分
    background-color: #9D8670;
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 100;

    &__inner {
        max-width: 250px;
        align-items: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 31px;
        //margin-right: auto;
        width: 100%;
        height: 80px;
        //background-color: #ffffff;

        &--nav {
            //ナビゲーションメニュー
            width: 100%;
            //margin: 0 16.5%;

            &--list {
                display: flex;
                list-style: none;
                justify-content: space-between;
                @include fontset.footerNav;
                margin-bottom: 34px;
                //border-left: 1px solid #ffffff;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }

                li {
                    position: relative;
                }

                li+li::before {
                    content: "";
                    display: block;
                    height: 16px;
                    border-left: 1px solid #ffffff;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -15px;
                    margin: auto;
                }

                /*li:not(:first-child)::before {
                    position: relative;
                    border-left: 1px solid #ffffff;
                    height: 16px;
                    content: "|";
                }*/
            }

            /*&--list li(:first-child)::before {
                isplay: inline-block;
                border-left: 1px solid #ffffff;
            }*/

            /*&--list li:not(:first-child)::before {
                position: relative;
                border-left: 1px solid #ffffff;
                height: 16px;
                content: "|";
            }*/

            /*&--nav--list li+li::before {
                content: "";
                display: block;
                height: 16px;
                border-left: 1px solid #ffffff;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }*/
        }

        &--copyright {
            //コピーライト
            display: block;
            //width: 56%;
            //align-items: center;
            text-align: center;
            @include fontset.footerCopy;
            margin-bottom: 31px;
            //margin-left: 33.3%;
        }
    }
}