.l-main {
    background-color: coral;
    width: 70%;

    &-content {
        background-color: cornflowerblue;
        width: 70%;
    }

    &-header {
        background-color: chartreuse;
        width: 70%;
    }
}